@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 200px;
    }

    .space-5 {
        margin-bottom:5px;
    }
    
    .space-10 {
        margin-bottom: 10px;
    }
    
    .space-20 {
        margin-bottom: 20px;
    }
}